@media only screen and (max-width: 899px) {
  ul#main-menu li {
    background-color: #b0a6a6;
    color: #FFF;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.7em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul#main-menu li a {
    width: 100%;
    color: inherit;
    text-decoration: none;

    margin: 0;
    padding: 0;
  }

  header #social-media-icons {
    float: none;
    margin: 1em auto 0.25em auto;
  }

  .page {
    width: 95%;
    margin: auto;
  }

  .alert, .notice {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}